$fuente_principal : "Montserrat", sans-serif;

//Paleta de colores
$brown:#c8a977;
$blue: #415364;
$gray: #2d2a26;
$black: #151515;
$white: rgb(254, 255, 249);

//Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;